<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>

    <script src="js/script.js" defer></script>
</head>

<body>
    <div class='wrapper'>
        <section class="dndMap">
            <ul>
                <li data-column="1" data-row="1"></li>
                <li data-column="2" data-row="1"></li>
                <li data-column="3" data-row="1"></li>
                <li data-column="4" data-row="1"></li>
                <li data-column="1" data-row="2"></li>
                <li data-column="2" data-row="2"></li>
                <li data-column="3" data-row="2"></li>
                <li data-column="4" data-row="2"></li>
                <li data-column="1" data-row="3"></li>
                <li data-column="2" data-row="3"></li>
                <li data-column="3" data-row="3"></li>
                <li data-column="4" data-row="3"></li>
                <li data-column="1" data-row="4"></li>
                <li data-column="2" data-row="4"></li>
                <li data-column="3" data-row="4"></li>
                <li data-column="4" data-row="4"></li>
            </ul>
        </section>
        <section class="chatBox">
            <form class="usernameForm">
                <label for="userName"> Your name </label>
                <input type="text" id="userName" placeholder="Your name">
                <div class="chooseColor">
                    <label for="playerColor"> Choose your color:</label>
                    <input type="color" id="playerColor" name="playerCoor">
                </div>

                <!-- <div class="radioButtons">
                    <input type="radio" id="yellow" name="playerColor" value="Yellow" checked>
                    <label for="Roboto">Yellow</label>
                    <input type="radio" id="Blue" name="playerColor" value="Blue">
                    <label for="playFair">Blue</label>
                    <input type="radio" id="Red" name="playerColor" value="Red">
                    <label for="gloria">Red</label>
                </div> -->
                <button type="submit">Send</button>
            </form>
        </section>
    </div>

    <script src="/socket.io/socket.io.js"></script>
</body>

</html>