<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>DnD playground</title>

</head>

<body>
    <section class="loginformSection">
        <div class="loginformWrapper">
            <h2>Welcome to DnD Playground!</h2>
            <form id="loginForm" name="loginForm">
                <div class="loginform deactivated" id="loginFormWrapHide">
                    <label for="username"> Username: </label>
                    <input type="text" id="username">

                    <div class="chooseColor">
                        <label for="playerColor"> Choose your color:</label>
                        <input type="color" id="playerColor" name="playerCoor">
                    </div>
                </div>




                <div class="userloginWrapper">
                    <button class="userlogin hide" id="getRoom" type="submit">Get a room</button>
                    <button id="googleLogin" class="userlogin">Login</button>
                    <button id="logout" class="userlogin hide">Logout</button>
                </div>
            </form>
        </div>
    </section>



    <%- include('includes/firebase.ejs'); %>
    <script src="js/loginScript.js"></script>

</body>

</html>