<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>DnD playground</title>

    <script src="js/loginScript.js" defer></script>
</head>

<body>
    <section class="loginformSection">
        <div class="loginformWrapper">
            <form action="" class="loginform" name="loginForm">
                <label for="username"> Username: </label>
                <input type="text" id="username">

                <div class="chooseColor">
                    <label for="playerColor"> Choose your color:</label>
                    <input type="color" id="playerColor" name="playerCoor">
                </div>

                <button type="submit">Get a room</button>
            </form>
        </div>
    </section>

</body>

</html>