<%- include('includes/head.ejs'); %>


<div class='wrapper'>
    <section class="dndMap">
        <ul>
            <li data-column="1" data-row="1"></li>
            <li data-column="2" data-row="1"></li>
            <li data-column="3" data-row="1"></li>
            <li data-column="4" data-row="1"></li>
            <li data-column="5" data-row="1"></li>
            <li data-column="6" data-row="1"></li>
            <li data-column="7" data-row="1"></li>
            <li data-column="8" data-row="1"></li>
            <li data-column="9" data-row="1"></li>
            <li data-column="10" data-row="1"></li>
            <li data-column="11" data-row="1"></li>
            <li data-column="12" data-row="1"></li>
            <li data-column="13" data-row="1"></li>
            <li data-column="14" data-row="1"></li>
            <li data-column="15" data-row="1"></li>
            <li data-column="1" data-row="2"></li>
            <li data-column="2" data-row="2"></li>
            <li data-column="3" data-row="2"></li>
            <li data-column="4" data-row="2"></li>
            <li data-column="5" data-row="2"></li>
            <li data-column="6" data-row="2"></li>
            <li data-column="7" data-row="2"></li>
            <li data-column="8" data-row="2"></li>
            <li data-column="9" data-row="2"></li>
            <li data-column="10" data-row="2"></li>
            <li data-column="11" data-row="2"></li>
            <li data-column="12" data-row="2"></li>
            <li data-column="13" data-row="2"></li>
            <li data-column="14" data-row="2"></li>
            <li data-column="15" data-row="2"></li>
            <li data-column="1" data-row="3"></li>
            <li data-column="2" data-row="3"></li>
            <li data-column="3" data-row="3"></li>
            <li data-column="4" data-row="3"></li>
            <li data-column="5" data-row="3"></li>
            <li data-column="6" data-row="3"></li>
            <li data-column="7" data-row="3"></li>
            <li data-column="8" data-row="3"></li>
            <li data-column="9" data-row="3"></li>
            <li data-column="10" data-row="3"></li>
            <li data-column="11" data-row="3"></li>
            <li data-column="12" data-row="3"></li>
            <li data-column="13" data-row="3"></li>
            <li data-column="14" data-row="3"></li>
            <li data-column="15" data-row="3"></li>
            <li data-column="1" data-row="4"></li>
            <li data-column="2" data-row="4"></li>
            <li data-column="3" data-row="4"></li>
            <li data-column="4" data-row="4"></li>
            <li data-column="5" data-row="4"></li>
            <li data-column="6" data-row="4"></li>
            <li data-column="7" data-row="4"></li>
            <li data-column="8" data-row="4"></li>
            <li data-column="9" data-row="4"></li>
            <li data-column="10" data-row="4"></li>
            <li data-column="11" data-row="4"></li>
            <li data-column="12" data-row="4"></li>
            <li data-column="13" data-row="4"></li>
            <li data-column="14" data-row="4"></li>
            <li data-column="15" data-row="4"></li>
            <li data-column="1" data-row="5"></li>
            <li data-column="2" data-row="5"></li>
            <li data-column="3" data-row="5"></li>
            <li data-column="4" data-row="5"></li>
            <li data-column="5" data-row="5"></li>
            <li data-column="6" data-row="5"></li>
            <li data-column="7" data-row="5"></li>
            <li data-column="8" data-row="5"></li>
            <li data-column="9" data-row="5"></li>
            <li data-column="10" data-row="5"></li>
            <li data-column="11" data-row="5"></li>
            <li data-column="12" data-row="5"></li>
            <li data-column="13" data-row="5"></li>
            <li data-column="14" data-row="5"></li>
            <li data-column="15" data-row="5"></li>
            <li data-column="1" data-row="6"></li>
            <li data-column="2" data-row="6"></li>
            <li data-column="3" data-row="6"></li>
            <li data-column="4" data-row="6"></li>
            <li data-column="5" data-row="6"></li>
            <li data-column="6" data-row="6"></li>
            <li data-column="7" data-row="6"></li>
            <li data-column="8" data-row="6"></li>
            <li data-column="9" data-row="6"></li>
            <li data-column="10" data-row="6"></li>
            <li data-column="11" data-row="6"></li>
            <li data-column="12" data-row="6"></li>
            <li data-column="13" data-row="6"></li>
            <li data-column="14" data-row="6"></li>
            <li data-column="15" data-row="6"></li>
            <li data-column="1" data-row="7"></li>
            <li data-column="2" data-row="7"></li>
            <li data-column="3" data-row="7"></li>
            <li data-column="4" data-row="7"></li>
            <li data-column="5" data-row="7"></li>
            <li data-column="6" data-row="7"></li>
            <li data-column="7" data-row="7"></li>
            <li data-column="8" data-row="7"></li>
            <li data-column="9" data-row="7"></li>
            <li data-column="10" data-row="7"></li>
            <li data-column="11" data-row="7"></li>
            <li data-column="12" data-row="7"></li>
            <li data-column="13" data-row="7"></li>
            <li data-column="14" data-row="7"></li>
            <li data-column="15" data-row="7"></li>
            <li data-column="1" data-row="8"></li>
            <li data-column="2" data-row="8"></li>
            <li data-column="3" data-row="8"></li>
            <li data-column="4" data-row="8"></li>
            <li data-column="5" data-row="8"></li>
            <li data-column="6" data-row="8"></li>
            <li data-column="7" data-row="8"></li>
            <li data-column="8" data-row="8"></li>
            <li data-column="9" data-row="8"></li>
            <li data-column="10" data-row="8"></li>
            <li data-column="11" data-row="8"></li>
            <li data-column="12" data-row="8"></li>
            <li data-column="13" data-row="8"></li>
            <li data-column="14" data-row="8"></li>
            <li data-column="15" data-row="8"></li>
            <li data-column="1" data-row="9"></li>
            <li data-column="2" data-row="9"></li>
            <li data-column="3" data-row="9"></li>
            <li data-column="4" data-row="9"></li>
            <li data-column="5" data-row="9"></li>
            <li data-column="6" data-row="9"></li>
            <li data-column="7" data-row="9"></li>
            <li data-column="8" data-row="9"></li>
            <li data-column="9" data-row="9"></li>
            <li data-column="10" data-row="9"></li>
            <li data-column="11" data-row="9"></li>
            <li data-column="12" data-row="9"></li>
            <li data-column="13" data-row="9"></li>
            <li data-column="14" data-row="9"></li>
            <li data-column="15" data-row="9"></li>
            <li data-column="1" data-row="10"></li>
            <li data-column="2" data-row="10"></li>
            <li data-column="3" data-row="10"></li>
            <li data-column="4" data-row="10"></li>
            <li data-column="5" data-row="10"></li>
            <li data-column="6" data-row="10"></li>
            <li data-column="7" data-row="10"></li>
            <li data-column="8" data-row="10"></li>
            <li data-column="9" data-row="10"></li>
            <li data-column="10" data-row="10"></li>
            <li data-column="11" data-row="10"></li>
            <li data-column="12" data-row="10"></li>
            <li data-column="13" data-row="10"></li>
            <li data-column="14" data-row="10"></li>
            <li data-column="15" data-row="10"></li>
        </ul>
    </section>
    <section class="chatBox">
        <form class="usernameForm">
            <label for="username"> You: </label>
            <input type="text" id="username" placeholder="Your name">
            <div class="chooseColor">
                <label for="playerColor"> Your color:</label>
                <input type="color" id="playerColor" name="playerColor">
            </div>
        </form>
        <div class="chatRoom">
            <p class="roomID">Room key:</p>
            <ul>

            </ul>
        </div>
        <form class="dice">
            <fieldset>
                <label for="selectDice">Select your dice:</label>
                <select name="selectDice" id="selectDice">
                    <option value="d4">d4</option>
                    <option value="d6">d6</option>
                    <option value="d8">d8</option>
                    <option value="d10">d10</option>
                    <option value="d100">d100</option>
                    <option value="d12">d12</option>
                    <option value="d20" selected>d20</option>
                </select>

                <label for="amountDice"> amount</label>
                <input type="number" name="amountDice" id="amountDice" placeholder="number of dice">
            </fieldset>
            <button type="submit" id="throwDice">Throw Dice</button>
        </form>
        <form class="chatBoxItem">
            <label for="newMessage"> Message </label>
            <!-- <textarea name="newMessages" id="newMessage" rows="3"></textarea> -->
            <input id="newMessage" type="text" placeholder="message" />
            <button type="submit">Send</button>
        </form>
    </section>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js"
    integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ=="
    crossorigin="anonymous"></script>

<%- include('includes/footer.ejs'); %>