* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #D42D42;
  --red-hover: #991f2f;
  --darkgray: #333;
  --lightgray: #ebebeb;
  --green: #2E8C0B;

  /* --fontStandard: 'Cormorant Garamond', serif; */
}